<section class="app-page ftb">
  <!-- [@flyInOut]="in" -->
  <button routerLink="/fta">GOTO FTA</button>
  <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dignissim, tellus sit amet convallis luctus, felis urna
    scelerisque mauris, in scelerisque augue tellus ac felis. Nam id auctor felis. Nulla eleifend est orci, eu euismod risus
    consectetur id. Cras scelerisque eu sapien non aliquet. Sed eros est, pulvinar sit amet purus eget, tristique venenatis
    est. Aliquam dictum odio nec convallis blandit. Vivamus lacus orci, scelerisque eu sollicitudin et, consectetur commodo
    neque. Integer ut nisi eget lacus cursus iaculis et eget lorem. Nullam accumsan vitae metus eleifend fermentum. Integer
    quis nunc molestie, eleifend velit sed, interdum sem. Maecenas ut imperdiet purus, at finibus tortor. Proin eu arcu maximus,
    aliquam ligula ac, commodo turpis. Proin tortor justo, lobortis sit amet mauris et, tincidunt feugiat lorem.</p>
</section>
