html, body {
  box-sizing: border-box;
  height: 100%;
  background-color: beige;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.app-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateX(0);
}

.text-content {
  font-size: 2em;
  text-align: justify;
}
